.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.header-content {
    min-height: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1.875rem;
}

.nav-list {
    display: flex;
    column-gap: 2.5rem;
}
  
.nav-link {
    font-size: 0.9375rem;
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.4s ease-in-out;
    position: relative;
}
  
.nav-link:hover, .nav-link-active, .nav-link:focus {
    color: white;
}
   
.nav-link::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -0.25rem;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    pointer-events: none;
}
  
.nav-link:hover::after, .nav-link:focus-visible::after {
    opacity: 1;
}

.nav-link:focus-visible {
    outline: none;
}
  
.logo {
    font-size: 2rem;
    transition: all 0.4s;
}

.logo:focus-visible {
    scale: 1.1;
    outline: none;
}

@media (max-width: 37.5em) {
    .header-content {
        flex-direction: column;
        row-gap: 1rem;
        padding: 1rem 1.875rem;
    }

    body {
        padding-top: calc(3.75rem + 2rem);
    }
}