:root {
  --blue: hsl(200, 50%, 50%);
  --green: hsl(155, 50%, 45%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  border: none;
}

body {
  font-family: 'Inter', sans-serif;
  padding-top: 3.75rem;
}

body.dark {
  background-color: black;
  color: white;
}

body.light {
  background-color: #e8f0f7;
  color: black;
}

body.blue {
  background-color: rgb(230, 251, 255);
  color: black;
}

body.green {
  background-color: rgb(232, 255, 227);
  color: black;
}

.main {
  padding: 2rem;
}

.light {
  background-color: black;
  color: white;
}

.dark {
  background-color: white;
  color: black;
}

.blue {
  background-color: var(--blue);
  color: white;
}

.green {
  background-color: var(--green);
  color: white;
}

/* Button Styles */

.btn {
  border-radius: 50000px;
  cursor: pointer;
  padding: 0.3125em 0.625em;
}

.btn, .select {
  transition: all 0.4s;
}

.btn.blue:hover {
  background-color: hsl(200, 50%, 60%);
}

.btn.green:hover {
  background-color: hsl(155, 50%, 55%);
}

.btn.light:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.btn.dark:hover {
  background-color: hsl(0, 0%, 70%);
}

.btn:disabled {
  cursor: default;
}

.btn.light:disabled {
  background-color: rgba(0, 0, 0, 0.4);
}

.btn.dark:disabled {
  background-color: hsl(0, 0%, 100%, 0.4);
}

.btn.blue:disabled {
  background-color: hsl(200, 50%, 50%, 0.4);
}

.btn.green:disabled {
  background-color: hsl(155, 50%, 45%, 0.4);
}

.btn.delete {
  background-color: hsl(0, 80%, 50%);
  color: white;
}

.btn.delete:hover {
  background-color: hsl(0, 80%, 60%);
}

.btn:focus-visible, .select:focus-visible {
  outline: none;
  scale: 1.2;
}

/* Hyperlink Styles */

.link {
  color: hsl(210, 100%, 50%);
}

.link:hover {
  text-decoration: underline;
}

/* Select Styles */

.select {
  border: none;
  padding: 0.25em 0.5em;
  border-radius: 500000px;
  cursor: pointer;
}

/* Input Styles */

.input {
  padding: 0.25em 0.5em;
  border-radius: 500000px;
  background-color: white;
  color: black;
}

.input.light {
  border: 1px solid black;
}

.input.light:focus {
  outline: 1px solid black;
}

.input.dark {
  border: 1px solid gray;
}

.input.dark:focus {
  outline: 1px solid white;
}

.input.blue {
  border: 1px solid var(--blue);
}

.input.blue:focus {
  outline: 1px solid var(--blue);
}

.input.green {
  border: 1px solid var(--green);
}

.input.green:focus {
  outline: 1px solid var(--green);
}

.main-heading {

}